extends layout

block content
  // - var JSONPath = require('jsonpath-plus');
  // - var p = function(json, path) { return JSONPath({json: json, path: path}); };

  .container
    - var ontoDescr = tree['@graph'][0];
    h1= ontoDescr['label'] + ' '
      small= 'Version ' + ontoDescr['owl:versionInfo']
    p(class='lead')= ontoDescr['comment']
    .btn-group
      a(
        class='btn btn-default btn-lg active',
        role='button', href= path + '.rdf'
      ) Download as RDF/XML...
      a(
        class='btn btn-default btn-lg active',
        role='button', href= path + '.jsonld'
      ) Download as JSON-LD...
